.calc-container {
  padding: 2rem;
  transition: all 0.5s ease;

  button {
    font-size: 1rem;
  }

  .toggle-calcs {
    border: none;
    color: white;
    padding: 1rem 1rem 1rem 0rem;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }

  .calculator {
    border-radius: 3px;
    background-color: #ebf3fa;
    padding: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    h2 {
      padding: 1rem 0rem;
    }
    .calc-screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #545f01;
      width: 100%;
      margin: 1rem auto;
      padding: 1rem;
      min-height: 5.55rem;
      font-size: 3rem;
      border-radius: 3px;
      box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
      .save-button {
        font-size: 0.9rem;
        color: black;
        cursor: pointer;
        background: rgba(0, 0, 0, 0);
        border: none;
        width: 2rem;
        padding: 0;
        margin: 0;
        display: none;
        box-shadow: none;
        text-decoration: underline;
      }
      .save-active {
        display: block;
      }
    }

    .active {
      background: #d2ff04;
    }

    .inputs-container {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      input {
        font-family: "IBM Plex Mono", monospace;
        padding: 0.5rem;
        border-radius: 3px;
        border: none;
        box-shadow: inset 2px 2px 2px #67727d85;
      }
    }

    .input-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.35);
      padding: 0.5rem;
    }

    button {
      padding: 1rem;
      margin: 0rem 1rem 0rem 0rem;
      background-color: rgba(0, 0, 0, 0);
      width: 8rem;
      border-radius: 3px;
      font-size: 1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: 1px solid #67727d;
      box-shadow: 2px 2px 3px #67727d85;
      transition: all 0.3s ease;
      cursor: pointer;
      &:active {
        box-shadow: inset 0px 2px 4px #67727d85;
      }
    }

    .inactive {
      color: #636363;
      font-weight: lighter;
    }

    .clear {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: #df6961;
      transition: all 0.5s ease;
      font-weight: lighter;
      width: 5rem;
      box-shadow: none;
      text-decoration: underline;
    }

    .clear-inactive {
      color: #999999;
      &:hover {
        font-weight: lighter;
      }
    }

    #double-calc-container {
      display: flex;
      padding-top: 1rem;
    }

    #fric-loss-calc {
      display: inline;

      overflow-wrap: normal;
      padding: 0rem 1rem 0rem 0rem;
      border-right: 1px solid rgba(126, 126, 126, 0.7);
      input {
        margin-left: 1rem;
      }
    }

    #p-supp-calc {
      display: inline;
      overflow-wrap: normal;
      padding: 0rem 0rem 0rem 1rem;
      border-left: 1px solid rgba(126, 126, 126, 0.7);
      input {
        margin-left: 1rem;
      }
    }
  }
}

@media only screen and (max-height: 820px) {
  .calc-container {
    padding: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  .calc-container {
    .calculator {
      width: 325px;
      #double-calc-container {
        display: block;
      }
      #fric-loss-calc {
        border: none;
      }
      #p-supp-calc {
        border: none;
      }
    }
    .inputs-container {
      input {
        width: 8.8rem;
      }
    }
  }
}
