.saved-calcs-container {
  padding: 5rem 0rem 0rem 2rem;
  max-width: 600px;

  img {
    height: 8px;
    width: 8px;
  }
  p {
    color: rgb(5, 5, 73);
  }
  .calc-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 10px;
    padding: 1rem 1rem 0rem 1rem;
    background: white;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    .title-wrapper {
      padding: 0.5rem;
    }
    .input-display-wrapper {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .output-display-wrapper {
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    p {
      color: black;
    }
  }
}
