.hide {
  transform: translateX(-100%);
}
.show {
  transform: translateX(0%);
}
.calc-selector {
  padding: 2rem 2rem 0rem 2rem;
  transition: all 0.5s ease;
  position: fixed;
  top: 8rem;
  left: 0;
  height: 100%;
  width: 200px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

  .close-wrapper {
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-end;

    img {
      position: relative;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(215deg)
        brightness(102%) contrast(104%);
    }
  }

  .selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0.5rem;
    color: white;
    &:hover {
      background: rgba(5, 5, 73, 0.3);
      color: #d2ff04;
      text-decoration: underline;
    }
  }

  .active {
    color: #d2ff04;
    text-decoration: underline;
  }

  .calc-header {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
  }

  .calc-list {
    list-style: none;
    font-size: 1.25rem;
    cursor: pointer;
  }
}

@media only screen and (max-height: 820px) {
  .calc-selector {
    top: 5rem;
  }
}
