.calc-selector-container {
  p {
    padding: 5rem 2rem 0rem 5rem;
    display: block;
  }
  .visible {
    transform: translateX(0%);
  }
  .calc-selector {
    padding: 5rem;
    // transform: translateX(-100%);
    // transition: all 0.5s ease;

    .selector {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1rem 0.5rem;
      border-radius: 10px;
    }

    .calc-header {
      margin-bottom: 2rem;
      padding-left: 0.5rem;
    }

    .calc-list {
      list-style: none;
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
}
