html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cedfe6;
  font-family: sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.title {
  position: sticky;
  top: 0;
  height: 10rem;
  z-index: 10;
  padding: 3rem 0rem 2rem 5rem;
  background-color: rgb(5, 5, 73);
  color: white;
}

.calculators {
  display: flex;
  position: relative;
  min-height: 100%;
}

.selector-active {
  margin-left: 18rem;
}

@media only screen and (max-height: 800px) {
  .title {
    height: 4rem;
    padding: 1rem 0rem 1rem 2rem;
    h1 {
      font-size: 1.75rem;
    }
  }
}

@import "./Calculators";
@import "./Selector";
