html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7b8fa1;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

h1 {
  font-weight: 600;
  margin-top: 0;
  font-size: 42px;
  letter-spacing: 2px;
}

h2 {
  font-weight: 400;
  font-size: 26px;
}

h3 {
  font-size: 1.953rem;
}

li {
  font-size: 18px;
}

input {
  width: 9em;
  /*Remove arrows from number inputs*/
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

button {
  font-family: "IBM Plex Mono", monospace;
}

.title {
  position: sticky;
  top: 0;
  height: 8rem;
  z-index: 10;
  padding: 2rem 0rem 2rem 2rem;
  background-color: #67727d;
  color: white;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tagline {
    text-align: right;
    padding: 0rem 2rem;
    width: 400px;
  }
}

.calculators {
  display: flex;
  position: relative;
  min-height: 100%;
}

.selector-active {
  margin-left: 200px;
}

.calcs-wrapper {
  display: flex;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 805px) {
  .title {
    .tagline {
      display: none;
    }
  }
}

@media only screen and (max-width: 650px) {
  .calcs-wrapper {
    display: block;
  }
}

@media only screen and (max-height: 820px) {
  .title {
    height: 5rem;
    padding: 0.6rem 2rem;
    h1 {
      font-size: 30px;
    }
  }
}

@import "./Calculators";
@import "./Selector";
@import "./Saved-calcs";
